#grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  border: 1px solid black;
}

#grid-container div {
  background-color: rgb(193, 193, 193);
}

button {
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 10px;
}
